*{
margin: 0%;
box-sizing: border-box;
padding: 0%;
/*-------------------------------------------HEADING-----------------------------------------------------------*/
}

.container-1{
background-color:;
height: 350px;
}
.name{
    font-size: 2em;
    font-weight: 300;
    color:hsl(277, 37%, 36%);
   text-align: center;
   padding-top:50px;
font-family: 'Dancing Script', cursive;
}
.dancing-img{  
    display: inline;
    position: relative;
    top: -44%;
    right: -42%;
}
.heart-img{       position: relative;
    display: inline-block;
    top: -21%;
    right: -21%;
}
.juice-img{    
}
.party-img{
    position: absolute;
top: 200px;
left: 85px;
height: 62px;
}
.radio-img{    display: inline-block;
    position: relative;
    top: 4%;
    right: -28%;
}
.star-img{
position: absolute;
top: 50px;
}
/*-----------------------------------------------HEADING----------------------------------------------------------------------*/
.container-2{
height:500px;
}
img{
    margin-left: 45%;
    clip-path: circle();
}



























































